<div class="page page-table" data-ng-controller="list_orgs">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Organizations</strong><p><small>Master list of organizations with their settings...</small></p></div>

        <div class="table-filters">
            <div class="row">
                <form name="search_form" novalidate>
                    <div class="col-sm-4 col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon color-info"><i class="fa fa-folder"></i></span>
                            <input type="text"
                               placeholder="Search by Organization # / Name"
                               class="form-control"
                               ui-keypress="{13:'updateTableData(true)'}"
                               ng-model="Config.general.searchtxt"
                               >
                        </div>    
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <button class="btn btn-sm btn-info" type="submit" ng-click="updateTableData(true)">Search</button>
                        <button class="btn btn-sm btn-warning" type="button" ng-click="clearSearch()">Clear</button>
                    </div>
                </form>
                <div class="col-sm-5 col-xs-4">
                    <form>
                        <a ng-show="(organization_add_user_access | filter:{value:user_info.designation}).length > 0" href="#/usl/organization" class="btn btn-info btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> Add Organization</a>
                        <br/><br/><br/>
                        <label class="pull-right text-muted"><em class="ng-binding">Total {{total_orgs}} Organizations</em></label>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-hover table-responsive small-text">
            <thead>
                <tr>
                    <th ng-click="sortMe('code', 'code')" class="sortable code">
            <div class="th">
                Code &nbsp;<i class="fa fa-sort"></i>
            </div>
            </th>
            <th ng-click="sortMe('name', 'name')" class="sortable name">
            <div class="th">
                Name &nbsp;<i class="fa fa-sort"></i>
            </div>
            </th>
            <th class="sortable Address">
            <div class="th">
                Address &nbsp;
            </div>
            </th>
            <th ng-click="sortMe('notification_email', 'notification_email')" class="sortable notification_email">
            <div class="th">
                Notification Email &nbsp;<i class="fa fa-sort"></i>
            </div>
            </th>
            <th><div class="th action">
                Action <span popover="Update Organization" popover-trigger="mouseenter" class="glyphicon glyphicon-question-sign"></span>
            </div></th>
            </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="(i,org) in current_orgs" ng-animate="animate">
                    <td><span ng-if="date == org.datecreated" class="color-warning"><i class="fa fa-lightbulb-o"></i></span> {{org.code}}</td>
                    <td>{{org.name}}</td>
                    <td>
                        <span>{{org.AddressFull}}</span>                        
                    </td>
                    <td>{{org.notification_email}}</td>
                    <td>
                        <a ng-show="(organization_edit_user_access | filter:{value:user_info.designation}).length > 0" href="#/usl/organization/{{org.id}}" class="btn btn-sm btn-default glyphicon glyphicon-pencil"></a> 
                        <a ng-show="(organization_view_user_access | filter:{value:user_info.designation}).length > 0" popover-trigger="mouseenter" popover="View Organization" href="#/usl/organization/{{org.id}}/view" class="btn btn-sm btn-default glyphicon glyphicon-list-alt ng-scope"></a>
                        <button ng-show="(organization_del_user_access | filter:{value:user_info.designation}).length > 0" ng-click="remove_record(org.id, i, current_orgs)" class="btn btn-default btn-sm glyphicon glyphicon-remove"></button>
                        <small><i><span ng-if="org.datecreated != null">..{{org.datecreated| date:"MMM dd yyyy"}}</span></i></small>
                    </td>
                </tr>
                <tr ng-show="current_orgs.length == 0 || !current_orgs.length">
                    <td colspan="5" class="text-center"><h4>No Records Found</h4></td>
                </tr>
            </tbody>
        </table>

        <footer class="panel-footer" ng-show="!(current_orgs.length == 0 || !current_orgs.length)">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    Show <label><select  ng-model="Config.list.itemperPage" class="form-control input-sm"  ng-change="updateTableData()">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select></label>
                </div>
                <div class="col-sm-4 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">showing {{Config.list.itemFrom}}-{{Config.list.itemTo}} of {{Config.list.itemTotalCount}} item(s) </small>
                </div>
                <div class="col-sm-4 text-right text-center-xs">                
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href="javascript:void(0)" ng-click="getNextData(Config.list.preOffset)" ng-show="Config.list.currentPage > 1"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="javascript:void(0)" ng-repeat="page in Config.list.pagination| limitTo: 5" ng-click="getNextData(page.offset)">{{page.number}}</a></li>
                        <li><a href="javascript:void(0)" ng-click="getNextData(Config.list.nextOffset)" ng-show="Config.list.currentPage < Config.list.paginationCount"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>


    </section>

    <section class="panel panel-default" ng-show="del_conf">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Confirm</div>
        <div class="panel-body">
            <script type="text/ng-template" id="delConfirm.html">
                <div class="modal-body">
                <h4 class="text text-danger">Do you really want to delete this Organization?</h4>
                </div>
                <div class="modal-footer">
                <button class="btn btn-danger" ng-click="ok()">Yes, its fine</button>
                <button class="btn btn-default" ng-click="cancel()">No</button>
                </div>
            </script>
        </div>
    </section>

</div>
